*{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#ebf4f8;
}

header{
    background:#49b3e9;
    color:white;
    text-align:center;
    padding:15px;
    border-radius: 10px;
}

header p{
    margin-top:5px;
    font-size:15px;
}

nav{
    background:#a0c2f6;
    display:flex;
    justify-content:center;
    padding:10px;
    gap: 20px;
    border-radius: 5px;
    
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

main{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

main h2{
    text-align:center;
    color:#000000;
    margin-bottom:20px;
}

#menu{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
}

.menuItem{
    background:white;
    border:1px solid #ddd;
    border-radius:6px;
    text-align:center;
    box-shadow:0 2px 6px rgba(0,0,0,.15);
}

.menuItem img{
    height:250px;
}

.menuItem h3{
    color:#cc7324;
    font-size:18px;
}

.menuItem p{
    color:#000000;
    padding:0 15px 15px;
    font-size:14px;
}

footer{
    background-color: #a0c2f6;
    border-radius: 5px;
}

footer p{
    color:rgb(255, 255, 255);
    padding: 8px;
    font-size:14px;
    text-align: center;

}

